img {
    width: 100%;
    height: auto;
}

#truth-trust-respect-bg {
    background: #000000;
    opacity: 85%;
}

#family-photo {
    border-radius: 8px;
    border: #000000 4px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.donate-button {
    background-color: #d5302a;
    color: #ffffff !important;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.donate-button a {
    color: #ffffff !important;
}

.donate-button:hover {
    background-color: #14386e;
    color: white;
    border: 2px solid #d5302a;
}

.lead {
    font-size: 12px;
}

.navbar-background {
    background-color: #14386e !important;
}

.bg-blue {
    background-color: #14386e !important;
    color: #167fbf !important;
}

.bg-blue {
    background-color: #14386e !important;
}

.bg-blue a {
    color: #167fbf !important;
}

.bg-blue a:hover {
    color: #ffffff !important;
}

.nav-link a {
    color: #167fbf;
}

.nav-bar-toggler {
    color: #167fbf !important;
}

.nav-link a:hover {
    color: #d5302a;
}


#frontpage {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed during scrolling */
    background-size: cover; /* Scales the image to cover the entire viewport while maintaining aspect ratio */
    background-position: center center; /* Centers the image horizontally and vertically */
    margin: 0; /* Removes default body margin */
    height: 100vh;
    color: #167fbf
}
.simpleBanner {
    padding-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#headshot {
    padding-top: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.navbar {
    background-color: transparent;
}

.sponsors.list-group {
    text-align: center !important;
    background-color: transparent !important;
}

.list-group-item {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
}

.card {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
}
.socialMediaLinks a {
    font-size: 26px;
    margin: 0 10px 0 0;
    color: #167fbf;
    text-decoration: none;
}

